@import "./partials/colors.scss";


:root {
    --color: #1e3d59;
    --header_bg-color: white;
    --theme-btn-bg: rgb(230, 221, 221);
    --today-heading-color:black;
}

.darkmode {
    --color: #e1ded7;
    --header_bg-color: black;
    --theme-btn-bg: rgb(230, 221, 221);
    --today-heading-color:white;
}

* {

    margin: 0;
    padding: 0;
}

body {
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $body-bg-color;
}


.todo-wrapper {
    margin: auto;
    width: 50%;
    padding: 20px;
    background: $todo-wrapper-bg-color;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

header {
    background-color: var(--header_bg-color);
    padding: 1rem;
}

.container1 {
    height: auto;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.upper-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.current-status {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.calc-display-controls .theme-btn {
    border: none;
    border-radius: 20px;
    background-color: var(--theme-btn-bg);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: flex;
    width: 2rem;
    height: 2rem;
    font-size: 1.4rem;
}

.calc-display-controls .theme-btn:hover {
    filter: brightness(90%);
}

.calc-display-controls .theme-btn i:last-child {
    display: none;
}

.darkmode .calc-display-controls .theme-btn i:first-child {
    display: none;
}

.darkmode .calc-display-controls .theme-btn i:last-child {
    display: block;
}


h1 {
    color: var(--today-heading-color);
}

.container1 form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.input-field {
    width: auto;
    padding: 12px 16px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .input-field:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.4);
  }




.add-task-btn {
    background-color: #04AA6D;
    border: 1px;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.add-task-btn:hover {
    box-shadow: 0 12px 16px 0 rgba(208, 204, 204, 0.24), 0 17px 50px 0 rgba(223, 213, 213, 0.19);
}

section {
    min-height: 300px;
    height: auto;
    padding: 1rem;
    background-color: $section-bg-color;
}

section .main-content {
    padding: 1rem;
}

section .main-content ul li {
    list-style: none;
    width: auto;
    height: auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 300px;

    background-color: rgb(248, 241, 241);
}

section .main-content ul li div {
    width: 40%;
}

footer p {
    display: flex;
    justify-content: center;
    align-items: center;
}