$body-bg-color: #c4bdbd;
$todo-wrapper-bg-color: white;
$section-bg-color: rgb(174, 221, 251);

// $today-light-mode:black;
// $today-dark-mode:white;

$input-border-color: #007bff;
$task-btn-bg-color: #04AA6D;
$task-btn-text-color: white;
$delete-btn-color: red;